.team {
  padding: 77px 12.3% 0 12.3%;
  min-height: 770px;
  &__title {
    @extend .portfolio__title;
    &-text {
      @extend .portfolio__title-text;
    }
  }
  &__carousel-worker {
    width: 1030px;
    height: 365px;
    margin-bottom: 50px;
    outline: none;
    &:hover {
      cursor: pointer;
    }
    .worker__photo {
      float: left;
    }
    .worker__info {
      width: 45%;
      text-align: right;
      float: right;
      &-general {
        height: 42px;
        border-right: 4px solid #19bd9a;
        padding-right: 42px;
        margin-bottom: 30px;
        margin-top: 25px;
        h3 {
          @include font-style (#464646, "Open Sans", 20px, 400);
        }
        h4 {
          @include font-style (#81868e, "Source Sans Pro", 14px, 300);
          font-style: italic;
          text-transform: uppercase;
        }
      }
      p {
        @include font-style (#81868e, "Open Sans", 14px, 400);
        line-height: 25px;
        width: 100%;
      }
    }
  }
}